
html, body {
  height: 100%;
}

.root{
  background: #333;
  color: #fff;


}

.btn-secondary {
  color: red;
}

.card {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.App {
  text-align: center;
  background: #333;
}

.btn-primary{
  margin-top: 10px;
}






